<div class="sidebar" [class.sidebar-close]="!openSidebar">
  <div class="logo-details">
    <div class="">
      <img src="../../assets/1.webp" alt="" style="width:80%; border-radius:80px;" class="ms-1">
    </div>
  </div>
  <ul class="nav-links" id="nav-links">
    <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
      <div *ngIf="item.sub_menu.length == 0" class="dropdown-title">
        <a [routerLink]="[item.link]">
          <i [class]="item.icon"></i>
          <span class="link_name">{{item.link_name}}</span>
        </a>
      </div>
      <div *ngIf="item.sub_menu.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl)">
        <a>
          <i [class]="item.icon"></i>
    <li><a class="link_name">{{item.link_name}}</a></li>
    </a>
    <i class='bx bxs-chevron-down arrow'></i>
</div>
<ul class="sub-menu" [class.blank]="item.sub_menu.length == 0">
  <li><a class="link_name">{{item.link_name}}</a></li>
  <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
    <a [routerLink]="[item_sub.link]">{{item_sub.link_name}}</a>
  </li>
</ul>
</li>
</ul>
</div>
<section class="home-section bg-black-alpha-10" style="height: 100%;">
  <div class="home-header ">
    <div class="hamburger-menu">
      <input type="checkbox" id="checkbox-hamburger-menu" [(ngModel)]="openSidebar" />
      <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </label>
    </div>
    <div class="title  d-flex col-10">
      <div class="d-flex col-8">
        <!-- <div class=" flex-grow-2 bd-highlight p-2">Home</div>
        <div class="p-2 flex-grow-1 bd-highlight">Contacts</div> -->
      </div>
      <div class="col-1">
        <div class=" bd-highlight  me-3 mb gap-3 d-flex m-1">
          <div class="p-1 bd-highlight icon text-color"><i class="pi pi-search text-1xl"></i></div>
          <div class="p-1 bd-highlight icon text-color"> <i class="pi pi-comments text-1xl" pBadge value="2"
              severity="success"></i> </div>
          <div class="p-1 bd-highlight icon text-color"> <i class="pi pi-bell text-1xl" pBadge value="2" severity="danger"></i>
          </div>
          <div class="p-1 bd-highlight icon text-color"> <i class="pi pi-arrows-alt text-1xl"></i> </div>
          <div class="p-1 bd-highlight icon text-color"> <i class="pi pi-inbox  text-1xl"></i> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <router-outlet></router-outlet>
  </div>

</section>