  
.tag-checked {
    background-color: green;
    color: white;
  }
  
  .tag-disabled {
    opacity: 0.5;
    pointer-events: none;
  }


  .pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination__link {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 0 5px;
  }
  .card .d-flex:hover span.Editicon:last-child {
    display: block;
  }
  .card .d-flex span.Editicon:last-child {
    display: none;
  }

.chart{
  background-color: skyblue;
  border-radius: 5px;
}
.knob{
  background-color: skyblue;
  border-radius: 5px;
}



.chat {
  // width: 48%;
  
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: px;
  }

.chat-container {
  height: 300px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow-y: scroll;
}

.chat-box {
  padding: 10px;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-message.left p {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  max-width: 80%;
}

.chat-message.right p {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  max-width: 80%;
  align-self: flex-end;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.chat-input input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.chat-input button {
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #3e8e41;
}
.p-panel .p-panel-content{
  padding: 0rem;
}


#usa-map {
  padding: 2em;
}

.state {
  
  fill: #00b2ff;
}

.state:hover {
  fill: #3385ff;
  transition: fill 0.15s ease;
}


.p-tabview .p-tabview-nav{
  justify-content: end;
}



.my-calendar {
  max-height: 500px; /* adjust as needed */
  overflow-y: auto;
}
.sales-graph-wrapper #usa-map{
  min-height: 544px;

}
.to-dolist-content{
  height: 490px;
}
// tab responsive starts here

@media only screen and (min-width:767px) and (max-width:1028px){
  .dashboard-info-wrapper{
flex-wrap: wrap;
    margin: 0px !important;
    padding: 0px !important;
    justify-content: space-between;
  margin-bottom: 30px !important;

  }
  .dashboard-info-wrapper .card{
    width: 49% !important;
    
  }
  
.sales-content-wrapper{
  flex-direction: column;
  margin-left: 0px !important;
}
.sales-content-wrapper .card{
  width: 100% !important;
}
.sales-graph-wrapper{
  margin-top: 20px !important;
  display: flex !important;
  flex-wrap: wrap;
  #usa-map{
height: 290px;
  }
}


.calender-wrapper{
  width: 100% !important;
  margin: 20px 0px !important;
  padding: 0px !important;
  .p-datepicker {
    border: none !important;
  }
  .p-panel .p-panel-content {
     padding: 0rem !important;}
}
.direct-cta-wrapper{
  width: 100% !important;

}
.sales-graph-wrapper{
  display: block !important;
}
.direct-cta-wrapper{
  margin-top: 20px !important;
  margin-left: 0px !important;
}
.sales-graph-wrapper-map{
  margin-top: 20px !important;
  #use-map{
    border: none;
  }
}
.dashboard-info-wrapper-title{
  margin: 1.8rem 0rem 0rem 0rem !important;
}
.to-dolist-content-block h6{
  font-size: 21px !important;
}
.to-dolist-content-title h6{
  font-size: 22px !important;
}
.to-dolist-content{
  height: auto !important;
  margin-top: 10px;
  background:none;
  .to-dolist-content-title{
    background-color: #fff;
    padding: 20px 10px;
    margin: 0px !important;
  }
  .to-dolist-content-button{
    margin: 0px auto !important;
    width: 100%;
  }

 
  .to-dolist-content-button button{
    width: 100%;
    font-size: 22px;
  }
}
.sales-graph-wrapper h5{
font-size: 22px !important;
}
.calender-wrapper h5{
font-size: 22px !important;

}
.circle-justify-content-around{
  margin-bottom: 0px !important;
  margin-top: 15px;
}
.direct-cta-wrapper h5{
  font-size: 22px ;
}

}
// tab responsive ends here


// mobile responsive starts here
@media only screen and (max-width:767px){
.dashboard-info-wrapper{
  flex-direction: column;
  margin: 0px !important;
  padding: 0px !important;
  margin-bottom: 15px !important;
}
.to-dolist-content-block-button{
  position: relative;
  left: -35px;
}
.circle-justify-content-around{
  margin-bottom: 0px !important;
  margin-top: 10px;
}
.dashboard-info-wrapper .card{
  width: 100% !important;
  
}
.dashboard-info-wrapper-title{
  margin: 2rem 1rem !important;
}
.sales-content-wrapper{
  flex-direction: column;
  margin-left: 0px !important;
}
.sales-content-wrapper .card{
  width: 100% !important;
}
.sales-graph-wrapper{
  margin-top: 20px !important;
  display: flex !important;
  flex-wrap: wrap;
  #usa-map{
height: 290px;
  }
}


.calender-wrapper{
  width: 100% !important;
  margin: 20px 0px !important;
  padding: 0px !important;
  .p-datepicker {
    border: none !important;
  }
  .p-panel .p-panel-content {
     padding: 0rem !important;}
}
.direct-cta-wrapper{
  width: 100% !important;

}
.sales-graph-wrapper{
  display: block !important;
}
.direct-cta-wrapper{
  margin-top: 20px !important;
  margin-left: 0px !important;
}
.sales-graph-wrapper-map{
  margin-top: 20px !important;
  #use-map{
    border: none;
  }
}

.to-dolist-content{
  height: auto !important;
  margin-top: 10px;
  background:none;
  .to-dolist-content-title{
    background-color: #fff;
    padding: 20px 10px;
    margin: 0px !important;
  }
  .to-dolist-content-button{
    margin: 0px auto !important;
  }
}
}
// mobile responsive ends here

